/*
webfonts
--------------------------------------------------------
*/
@font-face {
	font-family: "nunito-sans";
	font-weight: 400;
	font-style: normal;
	src: local('Nunito Sans'),
			 url('/fonts/nunitosans-regular.woff2') format('woff2'),
			 url('/fonts/nunitosans-regular.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 400;
	font-style: italic;
	src: local('Nunito Sans'),
			 url('/fonts/nunitosans-italic.woff2') format('woff2'),
			 url('/fonts/nunitosans-italic.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 800;
	font-style: normal;
	src: local('Nunito Sans Extrabold'),
			 url('/fonts/nunitosans-extrabold.woff2') format('woff2'),
			 url('/fonts/nunitosans-extrabold.woff') format('woff');
}

@font-face {
	font-family: "nunito-sans";
	font-weight: 900;
	font-style: normal;
	src: local('Nunito Sans Black'),
			 url('/fonts/nunitosans-black.woff2') format('woff2'),
			 url('/fonts/nunitosans-black.woff') format('woff');
}

@font-face {
	font-family: "source-code-pro";
	font-weight: 400;
	font-style: normal;
	src: local('Source Code Pro'),
			 url('/fonts/sourcecodepro-regular.woff2') format('woff2'),
			 url('/fonts/sourcecodepro-regular.woff') format('woff');
}

/* variables for styles, so we dont have to keep typing the same hex codes and sizes over and over! */

:root {
	--main_text_color: #2C2C2C;
	--light_accent_text_color: #818CEB;
	--med_accent_text_color: #7e88dd;
	--dark_accent_text_color: #606EE6;
	--soft_text_color: #8C8C8C;
	--soft_border_color: #CCC;
	--bg_color_1: #FFF;
	--bg_color_2: #848EE6;
	--bg_color_3: #EBCCF0;
	--pink_color: #C11ADD;
	--button_color: #FFFF80;
	--button_shadow: #F2F240;
	--chill_button: #3646D9;
	--button_soft_shadow: #F4F4F4;
	--button_softest_shadow: #DDDDDD;
	--button_border_color: #666;
        --comfy_font_size: 26px;
}
/*
base styles
--------------------------------------------------------
*/
html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-family: "nunito-sans", sans-serif;
	letter-spacing: 0.015em;
	color: var(--main_text_color);
	margin: 0;
	box-sizing: border-box;
	/* force grayscale antialiasing globally */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	/* enable kerning and ligatures globally */
	text-rendering: optimizeLegibility;
}

h1, h2, h3, p {
	text-align: center;
}

h1 {
	font-weight: 900;
	letter-spacing: 0.53px;
}

h2 {
	color: var(--dark_accent_text_color);
	font-weight: 900;
	letter-spacing: 0.68px;
}

h3 {
	color: var(--dark_accent_text_color);
	font-weight: initial;
	font-family: "source-code-pro", monospace;
	font-weight: initial;
}

p {
	font-size: 1em;
	text-align: left;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid var(--soft_border_color);
	border-radius: 2px;
}

input:disabled {
	color: var(--soft_border_color);
}

input[type="range"] {
	height: 0;
}

button {
	background-color: var(--button_soft_shadow);
	outline: none;
}

button:active {
	background-color: var(--button_softest_shadow);
}

button:focus {
	border-color: var(--button_border_color);
}

article {
	padding: 2em 2em 1em 2em;
	margin: auto;
        max-width: 960px;
        font-size: var(--comfy_font_size);
}
