<script>
  import Button from '../../components/Button.svelte';
  import NavLink from "../../components/NavLink.svelte"
</script>

<style>
    section {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #848EE6;
        padding-bottom: 30px;
    }

    h1, h2, h3 {
        text-align: center;
    }

    h1 {
        font-size: 3rem;
        color: #FFFFFF;
    }

    h2 {
        font-family: "source-code-pro", monospace;
        font-size: 2rem;
        color: #FFFFFF;
    }

    h3 {
        font-family: "nunito-sans", sans-serif;
        font-size: 1.5rem;
        color: #FFF;
    }

    ul {
        list-style-type: none;
        float: left;
        text-align: center;
    }

    li {
        font-size: 1rem;
        color: #2c2c2c;
        text-align: left;
    }

    .Aligner {
        align-items: center;
    }

  button {
    padding: 3px 15px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px dashed rgba(255, 255, 255, 0.44);
    margin: 1px;
  }
  button:hover {
    border: 2px dashed #fff;
    background-color: #6f7be6;
  }

  .ecosystem {
      text-align: center;
  }
</style>


<section>
    <div class='ecosystem'>
        <NavLink to="/ecosystem"><h1>Our P2P Ecosystem</h1></NavLink>

        <div class="Aligner">
        <ul>
            <li><h3>Apps</h3></li>
            <li>Patchwork</li>
            <li>Patchbay</li>
            <li>Patchfoo</li>
            <li>Manyverse</li>
        </ul>

        <ul>
            <li><h3>Initiatives</h3></li>
            <li>Open App Ecosystem</li>
            <li>Village Tracker</li>
            <li>Moderation</li>
            <li>Dark Crystal</li>
            <li>The Weekly</li>
        </ul>

        <ul>
            <li><h3>Ventures</h3></li>
            <li>Sunrise Choir</li>
            <li>Peach Cloud</li>
            <li>Verse</li>

        </div>

        <div class="center">
        <NavLink to="/ecosystem"><button><h3>learn more</h3></button></NavLink>
        </div>
    </div>
</section>
