<style>
    section {

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background: #EBCCF0;
        padding: 2em;
        font-family: "nunito-sans", sans-serif;

        color: #4D5B68;
    }

    p {
        font-size: 2rem;
    }
</style>

<section>

<p>"Scuttlebutt can be transformative for society, decentralizing and enabling
local community development free of big corp. Scuttlebutt is a fast growing
decentralized social network. As an alternative to the large corporate social
networks it enables autonomy for the users and a free zone from big data
harvesting..."</p>
</section>

