<script>
  import Button from '../../components/Button.svelte';
  import NavLink from "../../components/NavLink.svelte"
</script>

<style>
  section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #848EE6;
    padding: 1em 2em;
  }
  h1 {
    text-align: center;
    color: #FFF;
    font-size: 2rem;
    margin: 10px;
  }
  h2 {
    font-weight: initial;
    color: #fff;
    font-size: 27px;
    text-align: left;
  }
  h3 {
    text-align: center;
    color: #FFF;
    font-weight: bold;
    margin: 10px;
  }
  p {
    font-size: 18px;
    text-align: left;
  }
  button {
    padding: 3px 15px;
    background-color: transparent;
    border-radius: 30px;
    border: 2px dashed rgba(255, 255, 255, 0.44);
    margin: 1px;
  }
  button:hover {
    border: 2px dashed #fff;
    background-color: #6f7be6;
  }
  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1400px;
    vertical-align: middle;
  }
  .item {
    padding: 0 4%;
    max-width: 410px;
    display: inline-block;
    vertical-align: middle;
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<section>
  <h1>Values</h1>
  <div class="row">
    <div class="item">
      <h2>Local First</h2>
      <p>Local-first publishing so that each person owns their words and actions.</p>
    </div>
    <div class="item">
      <h2>Offline Usable</h2>
      <p>It’s completely usable while offline and syncs when connected to a local network, a friend or wifi.</p>
    </div>
    <div class="item">
      <h2>Open Sourced</h2>
      <p>Scuttlebutt has a large community of global users who together use and build the platform.</p>
    </div>
  </div>
    <div class="center">
    <NavLink to="/values"><button><h3>See more</h3></button></NavLink>
    </div>
</section>
