<script>
  import Button from '../components/ChillButton.svelte';
  import NavLink from "../components/NavLink.svelte"
</script>

<style>
  section {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  h1 {
    font-size: 45px;
    font-weight: Heavy;
    color: #030303;
  }
  h2 {
    font-size: 35px;
    color: #818CEB;
    letter-spacing: 0.68px;
  }
  h3 {
    font-size: 18px;
    color: #6C71DE;
    font-family: "source-code-pro", monospace;
    font-weight: normal;
  }
  h2, h3 {
    text-align: left;
  }
  div :global(a):hover {
   text-decoration: none;
   }
  p {
    line-height: 35px;
  }

  .apps {
    padding-bottom: 3em;
  }
  .pink {
    color: #DB67ED;
  }
  .download {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1200px;
    margin: 5% 12%;
  }
  .flex-container {
    display: flex;
    flex-direction: row;
  }
  .image-box {
    min-width: 25vw;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .text-box {
    padding-left: 3em;
  }

</style>

<section>
  <div class='download'>

    <div class="flex-container">
      <div class='image-box'></div>
      <div class="text-box">
          <h1>Choose an app:</h1>
          <p>Each app presents a different view into the same Scuttlebutt
          data; for more information and support, visit the website for that
          app's maintainer.</p>
      </div>
    </div>

    <div class="flex-container apps">
        <div class="image-box">
          <a href="https://github.com/ssbc/patchwork"><img
          src="/images/hermiepatchwork.svg" alt="patchwork logo"></a>
        </div>
        <div class="text-box">
            <h2><a href="https://github.com/ssbc/patchwork">Patchwork</a></h2>
            <h3>(Win, MacOS, Linux)</h3>
              <p>Standalone, beginner-friendly social view of Scuttlebutt.</p>
              <a href="http://dinosaur.is/patchwork-downloader/"><Button text={'Download'}/></a>
        </div>
    </div>

    <div class="flex-container apps">
        <div class="image-box">
          <a href="https://github.com/ssbc/patchbay"><img
          src="/images/hermiepatchbay_vaporwave.svg" alt="patchbay logo"></a>
        </div>
        <div class="text-box">
            <h2><a href="https://github.com/ssbc/patchbay">Patchbay</a></h2>
            <h3>(Win, MacOS, Linux)</h3>
              <p>Bleeding-edge, tab-based interface with experimental features.</p>
            <a href="https://github.com/ssbc/patchbay/releases"><Button text={'Download'}/></a>
        </div>
    </div>

    <div class="flex-container apps">
        <div class="image-box">
          <a href="https://www.manyver.se/"><img src="/images/manyverse.svg"
          alt="patchwork logo"></a>
        </div>
        <div class="text-box">
            <h2><a href="https://www.manyver.se/">Manyverse</a></h2>
            <h3>(Android)</h3>
              <p>Off-grid mobile app, currently in beta.</p>
              <a href="https://play.google.com/store/apps/details?id=se.manyver"><Button text={'Download'}/></a>
        </div>
    </div>

    <div class="flex-container">
      <div class="text-box">
      <p>These are the current most popular apps, but there are lots more to
      choose from!</p>
      <a href="https://www.scuttlebutt.nz/applications"><Button text={'More Apps'}/></a>
      </div>
    </div>

  </div>
</section>
