<style>
    section {
      display: flex;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      background-color: #848EE6;
      padding: 4em 0 2em;
      min-height: 80vh;
    }
    h1 {
      text-align: center;
      color: #FFF;
      font-size: 2rem;
      padding: 10px;
    }
    h2 {
      font-weight: initial;
      color: #fff;
      font-size: 27px;
      text-align: center;
    }
    h3 {
      text-align: center;
      color: #FFF;
      font-weight: bold;
      padding: 10px;
    }
    p {
      font-size: 18px;
      text-align: left;
    }


    ul {
        list-style-type: none;
        text-align: center;
    }

    li {
        font-size: 1rem;
        color: #000000;
        text-align: center;
    }

    .ecosystem p {
        margin-left: 1em;
        margin-bottom: -1em;
    }


</style>


<section>
    <div class='ecosystem'>
        <h1>Our P2P Ecosystem</h1>
        <h2>a quick overview</h2>

        <ul>
            <li><h3>Apps</h3></li>
            <li><p><a
            href="https://github.com/ssbc/patchwork"><i>Patchwork</i></a>, a
            decentralized messaging and sharing app built on top of Secure
            Scuttlebutt</p></li>
            <li><p><a
            href="https://github.com/ssbc/patchbay"><i>Patchbay</i></a>,
            an alternative Secure Scuttlebutt client interface that is fully
            compatible with Patchwork</p></li>
            <li><p><a
            href="https://git.scuttlebot.io/%25YAg1hicat%2B2GELjE2QJzDwlAWcx0ML%2B1sXEdsWwvdt8%3D.sha256"><i>Patchfoo</i></a>,
            HTML-based client, designed for low power/resource computers</p></li>
            <li><p><a href="https://www.manyver.se/"><i>Manyverse</i></a>, a
            social network off the grid</p></li>
        </ul>

        <ul>
            <li><h3>Initiatives</h3></li>
            <li><p>Open App Ecosystem</p></li>
            <li><p>Village Tracker</p></li>
            <li><p>Moderation</p></li>
            <li><p><a href="https://darkcrystal.pw/"><i>Dark Crystal<i></a>,
            P2P secret sharing</li>
            <li><p><a
            href="https://viewer.scuttlebot.io/@iVPi/B73hJSpsUB8XbSnlxe3NembPXLjOfIexlYdgJA=.ed25519"><i>The
            Weekly</i></a>, human-curated weekly
            summary of global Scuttlebutt activity </p></li>
        </ul>

        <ul>
            <li><h3>Ventures</h3></li>
            <li><p>Sunrise Choir</p></li>
            <li><p>Peach Cloud</p></li>
            <li><p>Verse</p></li>
        </ul>

    </div>
</section>
