<script>
  export let text;
</script>

<div>
  <button>
    {text}
  </button>
</div>

<style>
  button {
    /** positioning **/
    position: relative;
    top: .5em;
    margin: auto;

    /** make button look pretty **/
    display: block;
    padding: .5em 1em;
    min-width: 4em;
    background-color: var(--button_color); 
    border: none;
    border-radius: 12px;
    cursor: pointer;
    opacity: 0.83;


    /** 3D Block Effect **/
    box-shadow: 0 10px 0 0 var(--button_shadow);

    /* button text */
    font-size: 2em;
    font-weight: 900;
    color: var(--chill_button);
  }

  button:hover {
    opacity: 1;
    text-decoration: none;
  }

  button:active {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    top: 10px;
    margin-bottom: 0;
  }

  button:active,
  button:focus {
    /** Remove Chrome's Ugly Yellow Outline **/
    outline: 0;
  }
</style>
