<script>
  export let text;
</script>

<div>
  <button>
    {text}
  </button>
</div>

<style>
  button {
    /** make button look pretty **/
    display: block;
    padding: 5px 24px;
    min-width: 4em;
    background-color: #FFFF80; /* Yellow */
    border: none;
    border-radius: 12px;
    cursor: pointer;


    /* button text */
    font-size: 16px;
    font-weight: 900;
    color: #3646D9;
  }

  button:hover {
    opacity: 0.7;
  }


  button:active,
  button:focus {
    /** Remove Chrome's Ugly Yellow Outline **/
    outline: 0;
  }
</style>
